name: Build CV PDF

# Se ejecuta cada vez que haces push a la rama main
on:
  push:
    branches: [ main ]
  workflow_dispatch: # Permite ejecutarlo manualmente desde la web

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: resume.tex
          compiler: xelatex
          args: "-interaction=nonstopmode -file-line-error -pdf"

      - name: Upload PDF as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: CV_Tomas_Pont_Verges
          path: resume.pdf
          retention-days: 90